.input-div{
   
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
  
}
.input-div input{
    width: 100%;
    padding: 4px;
    border: 1px solid var(--borderColor);
    background-color: #0D1427;
    border-radius: 10px;
    outline: none;
    color: var(--textColor);
    font-size: 16px;
    direction: rtl;
}   
.input-div input:focus{
    border: 1px solid #ffffffa1;
    
}

.input-div label{
    font-size: 18px;
    font-weight: 700;
    color: var(--textColor);        
}