.InfoWin-div{
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
   background: #0D1427;
    background: linear-gradient(169deg, #0d1427 0%, #1a2b694d 69%);
    border: 1px solid var(--borderColor);
    box-shadow: 1px 5px 10px #00000017;
    border-radius: 10px;
    transition: 0.1s ;
}
.InfoWin-data{
    font-size: 18px;
}

.InfoWin-div:hover{
    box-shadow: 1px 5px 10px #0000004d;
    transform: scale(1.01);
}
