.NavBar{
    width: 95%;
    height: 50px;
    border: 1px var(--borderColor) solid;
    background-color: var(--PopupWindowColor);
    border-radius: 15px;
    display: flex;
    
   margin-top: 10px;
   direction: rtl;

}

.top-icons-div{
    width: 30%;
    height: 100%;
    display: flex;
    gap: 20px;
    padding-right: 10px;
    
  
}

.top-icon-link{
    text-decoration: none;
    color: var(--textColor);
    display: flex;
    align-items: center;
    justify-content: center;

}
