.ControlButs-div{

    width: 100%;
    direction: rtl;
    margin-bottom: 5px;
    display: flex;
    height: 30px;
    width: fit-content;
    align-items: center;
    gap: 30px;
    padding: 1px 15px;
  align-self: self-start;
}

.ControlButs-div .onControlBut{
    color: var(--textColor);
  
    cursor: pointer;

   
}
