.ControlButs-div{

    width: 100%;
    direction: rtl;
    margin-bottom: 5px;
}
.ControlButs{
    background-color: #09142F;
    border: 1px solid #ffffff4f;
    display: flex;
    height: 30px;
    width: fit-content;
    border-radius: 10px;
    align-items: center;
    gap: 30px;
    padding: 1px 15px;

}