
.Search-div{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.Search-buts{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    direction: rtl;
    cursor: pointer;
}