.table-div{
  width: 100%;
  border: #ddd 1px solid; 
  overflow: auto;
}

table{
  width: 100%;
  border-collapse: collapse;

  direction: rtl;
}

thead th {
  padding: 0px;
  text-align: center;
background-color:var(--TopTableColor);
  border-bottom: 1px solid #ddd; 
   border-left: 1px solid #ddd; 
  position: sticky;
  top: 0;
  padding: 5px;
}

td {
  padding: 2px;
  text-align: center;
  border-bottom: 1px solid #ddd; 
  border-left: 1px solid #ddd; 
}

th:last-child,
td:last-child {
  border-left: none;
}

tr:hover{
  background-color: var(--HoverTableColor);
}