
:root{
    --backgroundColor:#0D1427;
    --textColor:#fff;
    --borderColor:#ffffff4f; 
    --PopupWindowColor:#09142F;
}

.App {
    height: 100vh;
    width: 100%;
    background-color:var(--backgroundColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--textColor);

}
.pages-space {
    padding-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}